<div class="container bg-light rounded p-2" id="calculo">
  <form action="">
    <div class="display-6 text-center">Cálculo de consumo energético</div>
  
    <div class="mb-3">
      <label class="form-label">Nome: </label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="nome">
      <div id="" class="form-text">Seus dados não serão armazenados ou compartilhados.</div>
    </div>
    <div class="mb-3 row">
      <div class="col-md-6">
        <label class="form-label">Número de moradores: </label>
        <input type="number" class="form-control" id="moradores" name="mor" [(ngModel)]="qtdMoradores">
      </div>
      <div class="col-md-6">
        <label class="form-label">Quantidade de comodos: </label>
        <input type="number" class="form-control" id="comodos" name="com" [(ngModel)]="qtdComodos">
      </div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" [(ngModel)]="maquina" name="maquina" class="form-check-input" id="maq">
      <label class="form-check-label" for="maq">Possui máquina de lavar?</label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" [(ngModel)]="secadora" name="secadora" class="form-check-input" id="sec">
        <label class="form-check-label"  for="sec">Possui secadora de roupas?</label>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Quantidade de aparelhos de TV: </label>
        <input type="number" class="form-control" id="TV" name="TV" [(ngModel)]="qtdTV">
    </div>
    <div class="col-md-6">
        <label class="form-label">Quantidade de computadores: </label>
        <input type="number" class="form-control" id="PC" name="PC" [(ngModel)]="qtdPC">
    </div>
    </div>

    <div class="mb-3 row align-items-end">
      <div class="col-md-6">
        <label class="form-label">Valor da Tarifa: </label>
        <input type="number" class="form-control" name="valor" id="valor" [(ngModel)]="valor">
      </div>
      <div class="col-md-6">

        <button type="button" class="btn btn-outline-dark" (click)="Consumo()">Calcular</button>
      </div>
  </div>


  <div class="mb-3 row align-items-end">
    <div class="col-md-6">
      <label class="form-label">Consumo mensal: </label>
      <input type="" class="form-control" id="valorConsumo" name="consumo" [value]="consumo" readonly>
    </div>
    <div class="col-md-6">
      <label class="form-label">Valor mensal: </label>
      <input type="" class="form-control" id="valorPreco" name="preco" [value]="valorTotal" readonly>
    </div>
    <div class="col-md-6">
    </div>
</div>
  </form>
</div>
